* {
    margin: 0;
    padding: 0;
}

label {

    margin-left: 5px;
}

input {
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 30px;
    width: 300px;
    margin: 5px;
}

button {
    margin-left: 5px;
    /* padding: 5px; */
    border-radius: 4px;
    border: 0px;
    height: 30px;
    width: 304px;
    color: white;
    background-color: #0077FF;
}